@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url('~/assets/fonts/Vazir-FD-WOL.eot') format('eot'),
    url('~~/assets/fonts/Vazir-FD-WOL.woff') format('woff'),
    url('~~/assets/fonts/Vazir-FD-WOL.ttf') format('truetype');
}

body,
* {
  font-family: vazir !important;
  font-size: 13px;
}